doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Interview Assistant
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1 Datascience Interview Assistant
        main
            div#welcome            
                h4 Open rooms: 
                ul
                    li Daniel Manson    
                    li Rachel Lee
                form(action="/chat", method="post") 
                    h4 ENTER YOUR ROOM
                    input(type="text", name="roomname", placeholder="room name", required)
                    select(name="tottime", required)
                        option(value="" selected='' disabled='' hidden='') Select your total time
                        option(value="10") 10
                        option(value="20") 20
                        option(value="30") 30
                        option(value="60") 60                    
                    
                    input(type="radio", name="isInterviewer", value="yes", checked, id="usertype1")
                    label(for="usertype1") Interviewer
                    input(type="radio", name="isInterviewer", value="no", id="usertype2") 
                    label(for="usertype2") Applicant
                    br
                    button Enter Room

        script(src="/public/js/app.js")
